defaults:
  # Copier well-known variables
  user_name: {{ .user.name }}
  user_email: {{ .user.email }}
  github_user: {{ .user.github.username }}

  # gh:superlinear-ai/substrate
  author_name: {{ .user.name }}
  author_email: {{ .user.email }}
